.second-heading {
  color: #ff4422;
  font-size: 2.35rem;
  font-weight: 900;
  letter-spacing: -0.084rem;
  line-height: 1.1;
}

.forth-heading {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
}
